.courses {
    margin-top: 100px;
    margin-bottom: 50px;
}



/* images-brightness */
.brightness {
    filter: brightness(50%);
}

/* icons */
.icon-margin {
    margin-top: 100px;
    height: 400px;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-whatsapp {
    color: white;
}

.fa-facebook-messenger {
    color: white;
}

/* media-querry */
@media only screen and (max-width:576px) {
    .media {
        display: block;
        flex-direction: column;
    }

    .img-width {
        width: 100%;
    }

    .company {
        visibility: hidden;
    }

}

/* tablet */
@media screen and (min-width:577px)and (max-width:992px) {
    .company {
        visibility: hidden;
    }
}